@corPrincipal: #88ccc9; //azul claro
@corSecundaria: #b94190; //lilás
@corTerciaria: #8f2d76; //roxo
@corQuaternaria: #fdeded; //lilás claro
@corBase: #878786; //cinza - texto
@fontePrincipal: Century, Helvetica, sans-serif;
@fonteSecundaria: 'Calibri', Helvetica, sans-serif;

    /* Font face */

	*{ margin:0; padding:0; border:0;}
	body{
        background:@corQuaternaria;
        color: #666;
        font-family: @fonteSecundaria;
        font-size: 14px;
    }
    

    .col1, .col2, .col3, .col4, .col5, .col6,
    .col7, .col8, .col9, .col10, .col11, .col12{
        float: left;
    }

    .esp { margin-left: 2.129%;}
    .esp_dir { margin-right: 2.129%;}

    .esp_vert { margin-top: 20px;}
    .esp_vert_big { margin-top: 40px;}
    .esp_vert_bot { margin-bottom: 20px;}
    .esp_vert_bot_big { margin-bottom: 40px;}
    .inlineElem{float: none; display: inline-block;}

    .fleft{ float: left;}
    .fright{ float: right;}

    .animate {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .gray{
        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        filter: grayscale(100%);
    }

    #topo-wrap, #banner-wrap, #equipe-wrap, #conteudo-wrap, #rodape-wrap{
        width: 100%;
        clear: both;
        // overflow: hidden;
    }
    .topo, .banner, .conteudo,.rodape{
        // outline: solid 1px red;
    }

    #topo-wrap{
        background: @corSecundaria;
        border-bottom: solid 1px #e596df;

        position: relative;
        top:0;
        left: 0;
        z-index: 99;
    }
    .home #topo-wrap{
        background: transparent;
        position: absolute !important;
        border-bottom: solid 1px transparent;
    }
    .topo{
        .logo{
            float: left;
            width: 40px;
            height: 33px;
            display: block;
            background: url(../img/sprite.png) -300px 0;
            overflow: hidden;
            text-indent: -9999px;
            margin-top: 19px;
        }
        .menu{
            float: right;
            list-style: none;
            position: relative;
            z-index: 1;

            li{
                float: left;
                margin: 0 0 0 1px;

                &:last-child{
                    margin-right: 0;
                }

                a{
                    font-family: @fonteSecundaria;
                    font-weight: bold;
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 0 30px;
                    line-height: 70px;
                    display: block;
                    
                    &:hover,&.ativo{
                        background: @corTerciaria;
                        .animate();
                    }
                }
            }
        }
    }

    #banner-wrap{
        clear: both;
        background: #000;

        .banner{
            position: relative;

            .img-logo{
                width: 220px;
                height: 157px;
                display: block;
                background: url(../img/sprite.png) no-repeat 0 0;
                
                position: absolute;
                z-index: 2;
                top:50%;
                left: 50%;
                margin-left: -110px;
                margin-top: -78px;
            }

            .item1{
                background-size: 100%;
                background-position: 100% 50%;
                opacity: 0.3;

                overflow: hidden;
                max-height: 700px;
                min-height: 380px;

                .gray();

                video{
                    width: 124%;
                    min-height: 380px;
                    margin: 0 auto;
                }
            }
        }
    }

    .linha{
        width: 100%;
        clear: both;
    }

    #conteudo-wrap{
        border-top: solid 1px @corSecundaria;
        border-bottom: solid 1px @corSecundaria;

        #titulo-pagina h1{
            text-align: center;
            font-family: @fontePrincipal;
            font-size: 42px;
            font-weight: normal;
            line-height: 60px;
            color: @corPrincipal;
            margin-bottom: 50px;
        }

        .conteudo{
            padding: 60px 0;
            
            //inicio home
            .home{
                line-height: 24px;

                .titulo{
                    h2{
                        text-align: center;
                        font-family: @fontePrincipal;
                        font-size: 42px;
                        font-weight: normal;
                        line-height: 60px;
                        color: @corPrincipal;
                        margin-bottom: 50px;
                    }
                }

                .img{
                    img{
                        border: solid 4px @corBase;
                        width: 100%;
                        box-sizing: border-box;
                    }
                }
            }
            //fim home

            //inicio modalidades
            .menu-estilos{
                list-style: none;
                margin: 0 auto 30px;
                text-align: center;

                li{
                    display: inline-block;
                    margin: 0 20px;

                    &:hover a{
                        // opacity: 0.5;
                        .animate();
                    }

                    a{
                        display: block;
                        color:@corBase;
                        text-decoration: none;

                        &:before{
                            width: 60px;
                            height: 80px;
                            display: block;
                            content: ' ';
                            margin: 0 auto 10px;
                        }
                    }

                    &.item1 a:before{ background: url(../img/sprite.png) no-repeat 0 -430px; }
                    &.item2 a:before{ background: url(../img/sprite.png) no-repeat -70px -430px; }
                    &.item3 a:before{ background: url(../img/sprite.png) no-repeat -140px -430px; }
                    &.item4 a:before{ background: url(../img/sprite.png) no-repeat -220px -430px; }
                    &.item5 a:before{ background: url(../img/sprite.png) no-repeat -290px -430px; }
                    &.item6 a:before{ background: url(../img/sprite.png) no-repeat -370px -430px; }
                    &.item7 a:before{ background: url(../img/sprite.png) no-repeat -450px -430px; }

                    &.item1:hover a:before{ background: url(../img/sprite.png) no-repeat 0 -530px; }
                    &.item2:hover a:before{ background: url(../img/sprite.png) no-repeat -70px -530px; }
                    &.item3:hover a:before{ background: url(../img/sprite.png) no-repeat -140px -530px; }
                    &.item4:hover a:before{ background: url(../img/sprite.png) no-repeat -220px -530px; }
                    &.item5:hover a:before{ background: url(../img/sprite.png) no-repeat -290px -530px; }
                    &.item6:hover a:before{ background: url(../img/sprite.png) no-repeat -370px -530px; }
                    &.item7:hover a:before{ background: url(../img/sprite.png) no-repeat -450px -530px; }
                }
            }
            //menu modalidades overlay
            .estilo-overlay{
                display: none;
                position: fixed;
                width: 130px;
                right: 0px;
                top: 30px;

                .menu-estilos{
                    margin: 10px 0;
                    li{
                        // margin: 15px 0px;
                        padding: 15px 0;
                        border-bottom: solid 1px #fadada;
                        display: block;

                        &:last-child{
                            border-bottom: none;
                        }

                        a{
                            // color: #fff;
                            font-size: 12px;
                            &:before{
                                zoom:40%;
                                // -moz-transform: scale(0.4);
                                // -moz-transform-origin: 50% 50%;
                            }
                        }
                    }
                }
            }
            .estilos{
                li{
                    width: 100%;
                    clear: both;
                    overflow: hidden;
                    border-top: solid 1px #fadada;
                    margin-top: 60px;
                    padding-top: 60px;

                    .img{
                        // background: @corBase;
                        // border: solid 15px @corBase;
                        box-sizing: border-box;
                        float: left;

                        img{
                            border: solid 4px @corBase;
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                    .texto{
                        float: right;
                        font-size: 15px;
                        line-height: 24px;

                        h2{
                            font-family: @fonteSecundaria;
                            font-size: 24px;
                            color: @corPrincipal;
                            margin-bottom: 30px;
                        }
                        .horarios{
                            margin-top: 30px;

                            h4{
                                font-weight: bold;
                            }

                            strong{
                                font-weight: normal;
                                color: @corSecundaria;
                            }
                        }
                    }
                    
                    //salteado 2
                    &:nth-child(even){
                        .img{
                            float: right;
                        }
                        .texto{
                            float: left;
                            text-align: right;
                        }
                    }
                }
            }
            //fim modalidades

            //inicio escola
            .intro-escola{
                list-style: none;

                li{
                    width: 100%;
                    clear: both;
                    overflow: hidden;
                    margin-top: 40px;

                    &:first-child{
                        margin: 0;
                    }

                    .img{
                        // background: @corBase;
                        // border: solid 15px @corBase;
                        box-sizing: border-box;
                        float: left;

                        img{
                            border: solid 4px @corBase;
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }

                    .texto{
                        float: right;
                        line-height: 24px;
                        margin-top: 60px;
                    }
                    
                    //salteado 2
                    &:nth-child(odd){
                        .img{
                            float: right;
                        }
                        .texto{
                            float: left;
                            // text-align: right;
                        }
                    }
                }
            }
            //fim escola

            //inicio juliana

            .julianadiuana{
                background: url(../img/bg-fita.png) repeat-y 50% 0;
                overflow: hidden;
                padding-bottom: 30px;
                padding-top: 29px;

                .timeline{
                    list-style: none;

                    li{
                        // border: solid 1px red;
                        margin-top: 40px;
                        text-align: right;
                        margin-right: 6.382%;
                        float: left;
                        position: relative;
                        margin-bottom: 125px;

                        .texto{
                            margin-right: 120px;

                            h3{
                                margin-bottom: 15px;
                                color: @corSecundaria;
                            }
                        }
                        .img{
                            margin-top: 30px;
                            width: 100%;
                            text-align: center;
                            // border: solid 10px @corBase;
                            // background: @corBase;

                            img{
                                margin: 0 auto;
                            }
                        }

                        &:before{
                            position: absolute;
                            right: -101px;
                            content: ' ';
                            display: block;
                            background: url(../img/bg-marcador.png) no-repeat 100% 50%;
                            width: 200px;
                            height: 20px;
                        }

                        &:first-child{
                            clear: both;
                            
                            .texto{
                                margin-right: 20px;
                            }
                            &:before{
                                width: 100px;
                            }
                        }

                        &:nth-child(2){
                            margin-top: 125px;
                        }

                        &:nth-child(even){
                            
                            float: right;
                            text-align: left;
                            margin-left: 6.382%;
                            margin-right: 0;

                            .texto{
                                margin-right: 0px;
                                margin-left: 120px;
                            }

                            &:before{
                                right: 0;
                                left: -100px;
                                background-position: 0 50%;
                            }
                        }
                    }
                }
            }

            //fim juliana

        }

    }

    #equipe-wrap{
        background: url(../img/linha-rosa.png) repeat-x 0 1px @corPrincipal;
        padding: 60px 0;
        float: left;

        .equipe{
            h2{
                text-align: center;
                font-family: @fontePrincipal;
                font-size: 42px;
                font-weight: normal;
                line-height: 60px;
                color: #fff;
            }

            .perfil{
                list-style: none;
                margin-top: 30px;

                li{
                    position: relative;
                    float: left;
                    width: 300px;
                    height: 300px;
                    border: solid 15px #fff;
                    border-radius: 50%;
                    margin: 20px 0;
                    box-sizing: border-box;

                    text-align: center;
                    // outline: solid 1px red;
                    background-size: 130%;
                    // .gray();
                    overflow: hidden;

                    &.item-col1-1{
                        background: url(../img/foto_pedro.png) no-repeat 50% 50%;
                    }
                    &.item-col1-2{
                        background: url(../img/foto_daniel.png) no-repeat 50% 50%;
                    }
                    &.item-col1-3{
                        background: url(../img/foto_vazio.png) no-repeat 50% 50%;
                    }
                    &.item-col2-1{
                        background: url(../img/foto_juliana.png) no-repeat 50% 50%;
                    }
                    &.item-col2-2{
                        background: url(../img/foto_vazia.png) no-repeat 50% 50%;
                    }
                    &.item-col2-3{
                        background: url(../img/foto_geyze.png) no-repeat 50% 50%;
                    }
                    &.item-col3-1{
                        background: url(../img/foto_mariana.png) no-repeat 50% 50%;
                    }
                    &.item-col3-2{
                        background: url(../img/foto_vazio.png) no-repeat 50% 50%;
                    }
                    &.item-col3-3{
                        background: url(../img/foto_bruna.png) no-repeat 50% 50%;
                    }

                    .over{
                        width: 300px;
                        height: 300px;
                        margin-top: 300px;
                        margin-left: -15px;
                        position: absolute;
                        background: @corSecundaria;
                        color: #fff;

                        h3{
                            text-transform: uppercase;
                            margin-top: 120px;
                            margin-bottom: 30px;
                            font-family: @fontePrincipal;
                            font-weight: normal;
                            font-size: 18px;
                        }
                    }

                    &:hover{
                        border: solid 0px @corSecundaria;
                        .animate();

                        .over{
                            margin-top: -15px;
                            border: solid 15px @corSecundaria;
                            .animate();
                        }
                    }
                }
            }
            .perfil-col1, .perfil-col3{
                margin-top: 200px;
            }
        }
    }
    //fim equipe-wrap

    #rodape-wrap{
        background: @corSecundaria;
        border-top: solid 1px #e596df;
        border-bottom: solid 1px @corTerciaria;

        .rodape{
            clear: both;
            padding: 60px 0;
            color: #fff;

            .parte1{
                h4{
                    font-family: @fonteSecundaria;
                    font-size: 24px;
                    font-weight: normal;
                    margin-bottom: 30px;

                    span{
                        display: block;
                    }
                }
                ul.social{
                    list-style: none;
                    li{
                        float: left;
                        margin-right: 20px;

                        a{
                            width: 65px;
                            height: 65px;
                            display: block;
                            text-indent: -9999px;

                            &:hover{
                                opacity: 0.6;
                                .animate();
                            }
                        }

                        &.item1 a{
                            background: url(../img/sprite.png) no-repeat 0 -190px;
                        }
                        &.item2 a{
                            background: url(../img/sprite.png) no-repeat -70px -190px;
                        }
                    }
                }
            }

            .parte2{
                .texto{
                    text-align: right;
                    line-height: 20px;

                    h4{
                        border-bottom: solid 1px #e596df;
                        color: #e596df;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        width: 210px;
                        font-family: @fontePrincipal;
                        font-size: 14px;
                    }
                }

                .img-mapa{
                    margin-left: 20px;
                    overflow: hidden;

                    a{
                    display: block;
                    width: 300px;
                    height: 142px;
                    background: url(../img/sprite.png) no-repeat 0 -265px;
                    text-indent: -9999px;
                    // margin-left: 20px;
                    }
                }
            }
        }
    }
    #creditos-wrap{
        background: @corTerciaria;
        border-top: solid 1px @corSecundaria;

        a.kingo{
            color: #e596df;
            text-decoration: none;
            background: url(../img/sprite.png) no-repeat -300px -60px;
            width:60px;
            height: 24px;
            float: right;

            &:before{
                content: 'Criação: ';
                float: left;
                margin-left: -50px;
                line-height: 30px !important;
            }
        }

        .creditos{
            clear: both;
            padding: 25px 0;
            color: #e596df;
            font-size: 12px;
            line-height: 30px;
        }
    }


    /*  secundarias  */


    .formulario{
        float: left;

        li{
            overflow: hidden;
            margin-bottom: 20px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        label{
            display: none;
        }

        input[type=text], input[type=email], input[type=tel], textarea{
            padding: 0 20px;
            line-height: 50px;
            outline: none;

            border: solid 1px @corBase;
            box-sizing: border-box;
            width: 100%;

            font-size: 14px;
            font-family: @fonteSecundaria;
            color: @corBase;
            background: transparent;
        }

        input[type=text], input[type=email], input[type=tel]{
            height: 50px;
        }

        input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
            background:rgba(0, 0, 0, 0.1);
        }

        textarea{
            max-width: 100%;
            min-width: 100%;
            height: 260px;
            min-height: 260px;
            max-height: 260px;

            line-height: 24px;
            padding: 15px 20px;
        }

        .botao{
            float: right;
            cursor: pointer;
            background: @corPrincipal;
            padding: 16px 45px;

            font-family: @fonteSecundaria;
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;

            &:hover{
                background: @corSecundaria;
            }
        }

    }


/* desktop */
@media screen and (min-width: 940px) {

    .topo, .conteudo, .equipe, .rodape, .creditos, #titulo-pagina{
        width: 940px;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        overflow: hidden;
    }

    .col1 { width: 6.382%;}
    .col2 { width: 14.893%;}
    .col3 { width: 23.404%;}
    .col4 { width: 31.914%;}
    .col5 { width: 40.425%;}
    .col6 { width: 48.936%;}
    .col7 { width: 57.446%;}
    .col8 { width: 65.957%;}
    .col9 { width: 74.468%;}
    .col10 { width: 82.978%;}
    .col11 { width: 91.489%;}
    .col12 { width: 100%;}

    .off_left-col1{   padding-left: 6.382%;    }
    .off_right-col1{   padding-right: 6.382%;    }

    .esp_desk { margin-left: 2.129% !important; }
    .esp_dir_desk { margin-right: 2.129% !important; }
    .esp_off_left-col1{ margin-left: 6.382%; }
    .esp_off_right-col1{ margin-right: 6.382%; }

    .icone-menu{
        display: none;
    }
    
    //exibe apenas o desktop
    .exibe_md, .exibe_sm{
        display: none;
    }
    
}


/* tablet */
@media screen and (max-width: 940px) {

    .topo, .banner, .conteudo, .rodape, .creditos, #titulo-pagina, .clientes,.banner{
        width: 100%;
        overflow: hidden;
        box-sizing:border-box;
    }
    
    .banner{
        max-height: 780px;
        .item1 video{
            width: 254% !important;
            right: 710px;
            top: 0px;
            overflow: hidden;
            position: relative;
        }
    }
    #topo-wrap, #conteudo-wrap{
        margin-right: 0;
        margin-left: 0;
        box-sizing:border-box;
    }
    #rodape-wrap{
        box-sizing:border-box;
    }
    
    .nav-overlay{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);
        position: fixed;
        z-index: 5;
        top: 0px;
        overflow: hidden;
        display: none;
    }


    /* proporcao 700px */
    .col1_md { width: 8.6% !important;}
    .col2_md { width: 20% !important;}
    .col3_md { width: 31.4% !important;}
    .col4_md { width: 42.9% !important;}
    .col5_md { width: 54.3% !important;}
    .col6_md { width: 65.7% !important;}
    .col7_md { width: 77.1% !important;}
    .col8_md { width: 88.6% !important;}
    .col9_md { width: 100% !important;}

    .esp { margin-left: 2.8% !important; }
    .esp_dir_md { margin-right: 2.8% !important; }
    .no_esp_md{ margin-left: 0 !important;margin-right: 0 !important;}
    .md_off_left-col1{   padding-left: 8.6%;    }
    .md_off_right-col1{   padding-right: 8.6%;    }

    .exibe_md{
        display: block;
    }
    .exibe_sm{
        display: none;
    }
    
    #topo-wrap{
        .topo{
            padding-left: 20px;
            padding-right: 20px;

            .menu{
                li{
                    a{

                    }
                }
            }
        }
    }
    
    #conteudo-wrap{
        .conteudo{
            padding-left: 20px;
            padding-right: 20px;

            .img{
                img{
                    width: 100%;
                }
            }


            .menu-estilos{
                li{
                    margin: 0 2%;

                    a{
                        zoom:90%;
                    }
                }
            }
            .estilo-overlay{
                background: rgba(253, 237, 237, 0.8);
                border-top: solid 1px @corPrincipal;
                right: auto;
                bottom: 0px;
                top: auto;
                left: 0px;
                height: 80px;
                width: 100%;

                .menu-estilos{
                    right: auto;
                    height: 80px;
                    width: 100%;

                    li{
                        display: inline-block !important;
                        margin: 0 2%;
                        border-bottom: none;
                        padding: 5px 0;
                    }
                }
            }

            .intro-escola{
                li{
                    .texto{
                        margin-top: 20px;
                    }
                }
            }


            .julianadiuana{
                .timeline{
                    li{
                        box-sizing: border-box;

                        &:before{
                            right: -61px;
                            width: 110px;
                        }

                        .texto{
                            margin-right: 70px;
                        }

                        .img{
                            box-sizing: border-box;
                        }
                        
                        &:first-child{
                            &:before{
                                width: 60px;
                            }
                        }
                        &:nth-child(even){
                            &:before{
                                left: -60px;
                            }

                            .texto{
                                margin-left: 70px;
                            }
                        }
                    }
                }
            }


        }
    }

    #equipe-wrap{
        .equipe{
            .perfil{

                &.perfil-col1,
                &.perfil-col3{
                    margin-top: 150px;
                }
                li{
                    width: 220px;
                    height: 220px;
                    margin: 10px 0;

                    .over{
                        width: 220px;
                        height: 220px;

                        h3{
                            margin-top: 80px;
                        }
                    }
                }
            }
        }
    }

    /* fim home*/

    #rodape-wrap{
        .rodape{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    #creditos-wrap{
        .creditos{
            padding-left: 20px;
            padding-right: 20px;
            line-height: 16px;
        }
    }


    .formulario {

        label{
            text-align: left !important;
            margin-right: 0px !important; 
            line-height: 20px !important; 
            clear: both;
            width: 100% !important;
        }

        input[type=email], input[type=tel], input[type=text], textarea{
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
        ul{
            list-style: none;

            li{
                &:last-child{
                    text-align: center;
                }

                .botao{
                    // margin: 0 auto 30px;
                }
            }
        }
    }



}

/* smart horiz */
@media screen and (max-width: 680px) {

    body{
        min-width: 320px;
    }
    body.secundarias{
        h1{
            font-size: 36px !important;
            line-height: 36px !important;
        }
    }

    /* proporcao 460px */
    .col1_sm { width: 21.7% !important;}
    .col2_sm { width: 47.8% !important;}
    .col3_sm { width: 73.9% !important;}
    .col4_sm { width: 100% !important;}
    
    .esp_sm { margin-left: 4.3% !important; }
    .esp_dir_sm { margin-right: 4.3% !important; }
    .no_esp_sm{ margin-left: 0 !important;margin-right: 0 !important;}
    .no_off_sm{ padding-left: 0 !important;padding-right: 0 !important;}
    .esp_vert_sm { margin-top: 20px !important; }

    .exibe_sm{
        display: block;
    }

    #topo-wrap, #conteudo-wrap{
        margin-right: 0;
        margin-left: 0;
        box-sizing:border-box;
    }

    .icone-menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 44px;
        height: 41px;
        border: solid 2px #fff;
        border-radius: 5px;
        z-index: 999;

        .animate;

        &.active{
            background: @corTerciaria;
        }

        b{
            width: 28px;
            height: 4px;
            background: #fff;
            display: block;
            margin-top: 4px;
            border-radius: 10px;
            margin-left: 8px;

            &:first-child{
                margin-top: 10px;
            }

            &:nth-child(2){
                width: 21px;
            }
            &:nth-child(3){
                width: 14px;
            }
        }
    }

    #navigation{

    }

    #topo-wrap{
        .topo{

            .logo{
                margin-top: 20px;
                width: 53px;
                height: 44px;
                background: url(../img/sprite.png) no-repeat -470px 0;
            }

            margin-bottom: 5px;
            min-height: 84px;

            .menu{
                height: 0px;
                width: 100%;

                .animate;

                &.active{
                    height: auto;
                    margin-bottom: 20px;
                }
                li{
                    float: none;
                    text-align: center;
                    border: solid 1px rgba(255, 255, 255, 0.2);
                    margin-bottom: 2px;
                    border-radius: 5px;

                    &:first-child{
                        margin-top: 30px;
                    }

                    a{
                        padding: 10px;
                        line-height: 40px;
                        border-radius: 5px;

                        &:last-child{
                            border: none;
                        }
                    }
                }
            }
        }
    }
    
    #banner-wrap{
        .banner{
            min-height: 300px;

            .item1{
                min-height: 300px;
                video{
                    right: 390px;
                    min-height: 300px;
                }
            }
        }
    }

    #conteudo-wrap{
        .conteudo{
            img{
                max-width: 100%;
            }
            
            //modalidades
            .estilos{
                li{
                    &:first-child{
                        border: none;
                        padding-top: 0;
                        margin-top: 0;
                    }
                    .texto{
                        text-align: left !important;
                    }
                }
            }

            .estilo-overlay, .menu-estilos{
                display: none !important;
            }


            .julianadiuana{
                .timeline{
                    li{
                        margin-bottom: 0;
                        margin-top: 100px !important;

                        &:before{
                            position: relative;
                            margin: 0 auto !important;
                            left: 0 !important;
                            right: 0 !important;
                            height: 2px;
                            width: 140px;
                        }

                        .texto{
                            margin: 0px !important;
                            text-align: center;
                            background: @corQuaternaria;
                            padding:10px 0;
                        }

                    }
                }
            }

        }
    }

    #equipe-wrap{
        .equipe{
            padding-left:20px;
            padding-right: 20px;

            .perfil{
                margin-top: 0 !important;

                li{
                    float: none;
                    width: 280px;
                    height: 280px;
                    margin: 20px auto;
                    display: block;

                    .over{
                        width: 280px;
                        height: 280px;

                        h3{
                            margin-top: 100px;
                        }
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }



    #rodape-wrap{
        box-sizing:border-box;
        .rodape{
            .parte1{
                text-align: center;

                ul.social{
                    margin: 0 auto;
                    li{
                        float: none;
                        display: inline-block;

                    }
                }
            }
            .parte2{
                .img-mapa{
                    text-align: center;
                    margin-left: 0;

                    a{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                .texto{
                    text-align: center;
                    
                    h4{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

            }
        }

    }

    #creditos-wrap{
        .creditos{
            text-align: center;

            a.kingo{
                float: none;
                display: inline-block;
                margin-left: 50px;
            }
        }
    }

}