/* Font face */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #fdeded;
  color: #666;
  font-family: 'Calibri', Helvetica, sans-serif;
  font-size: 14px;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  float: left;
}
.esp {
  margin-left: 2.129%;
}
.esp_dir {
  margin-right: 2.129%;
}
.esp_vert {
  margin-top: 20px;
}
.esp_vert_big {
  margin-top: 40px;
}
.esp_vert_bot {
  margin-bottom: 20px;
}
.esp_vert_bot_big {
  margin-bottom: 40px;
}
.inlineElem {
  float: none;
  display: inline-block;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.animate {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.gray {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#topo-wrap,
#banner-wrap,
#equipe-wrap,
#conteudo-wrap,
#rodape-wrap {
  width: 100%;
  clear: both;
}
#topo-wrap {
  background: #b94190;
  border-bottom: solid 1px #e596df;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
}
.home #topo-wrap {
  background: transparent;
  position: absolute !important;
  border-bottom: solid 1px transparent;
}
.topo .logo {
  float: left;
  width: 40px;
  height: 33px;
  display: block;
  background: url(../img/sprite.png) -300px 0;
  overflow: hidden;
  text-indent: -9999px;
  margin-top: 19px;
}
.topo .menu {
  float: right;
  list-style: none;
  position: relative;
  z-index: 1;
}
.topo .menu li {
  float: left;
  margin: 0 0 0 1px;
}
.topo .menu li:last-child {
  margin-right: 0;
}
.topo .menu li a {
  font-family: 'Calibri', Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 0 30px;
  line-height: 70px;
  display: block;
}
.topo .menu li a:hover,
.topo .menu li a.ativo {
  background: #8f2d76;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#banner-wrap {
  clear: both;
  background: #000;
}
#banner-wrap .banner {
  position: relative;
}
#banner-wrap .banner .img-logo {
  width: 220px;
  height: 157px;
  display: block;
  background: url(../img/sprite.png) no-repeat 0 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -78px;
}
#banner-wrap .banner .item1 {
  background-size: 100%;
  background-position: 100% 50%;
  opacity: 0.3;
  overflow: hidden;
  max-height: 700px;
  min-height: 380px;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
#banner-wrap .banner .item1 video {
  width: 124%;
  min-height: 380px;
  margin: 0 auto;
}
.linha {
  width: 100%;
  clear: both;
}
#conteudo-wrap {
  border-top: solid 1px #b94190;
  border-bottom: solid 1px #b94190;
}
#conteudo-wrap #titulo-pagina h1 {
  text-align: center;
  font-family: Century, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 60px;
  color: #88ccc9;
  margin-bottom: 50px;
}
#conteudo-wrap .conteudo {
  padding: 60px 0;
}
#conteudo-wrap .conteudo .home {
  line-height: 24px;
}
#conteudo-wrap .conteudo .home .titulo h2 {
  text-align: center;
  font-family: Century, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 60px;
  color: #88ccc9;
  margin-bottom: 50px;
}
#conteudo-wrap .conteudo .home .img img {
  border: solid 4px #878786;
  width: 100%;
  box-sizing: border-box;
}
#conteudo-wrap .conteudo .menu-estilos {
  list-style: none;
  margin: 0 auto 30px;
  text-align: center;
}
#conteudo-wrap .conteudo .menu-estilos li {
  display: inline-block;
  margin: 0 20px;
}
#conteudo-wrap .conteudo .menu-estilos li:hover a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#conteudo-wrap .conteudo .menu-estilos li a {
  display: block;
  color: #878786;
  text-decoration: none;
}
#conteudo-wrap .conteudo .menu-estilos li a:before {
  width: 60px;
  height: 80px;
  display: block;
  content: ' ';
  margin: 0 auto 10px;
}
#conteudo-wrap .conteudo .menu-estilos li.item1 a:before {
  background: url(../img/sprite.png) no-repeat 0 -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item2 a:before {
  background: url(../img/sprite.png) no-repeat -70px -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item3 a:before {
  background: url(../img/sprite.png) no-repeat -140px -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item4 a:before {
  background: url(../img/sprite.png) no-repeat -220px -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item5 a:before {
  background: url(../img/sprite.png) no-repeat -290px -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item6 a:before {
  background: url(../img/sprite.png) no-repeat -370px -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item7 a:before {
  background: url(../img/sprite.png) no-repeat -450px -430px;
}
#conteudo-wrap .conteudo .menu-estilos li.item1:hover a:before {
  background: url(../img/sprite.png) no-repeat 0 -530px;
}
#conteudo-wrap .conteudo .menu-estilos li.item2:hover a:before {
  background: url(../img/sprite.png) no-repeat -70px -530px;
}
#conteudo-wrap .conteudo .menu-estilos li.item3:hover a:before {
  background: url(../img/sprite.png) no-repeat -140px -530px;
}
#conteudo-wrap .conteudo .menu-estilos li.item4:hover a:before {
  background: url(../img/sprite.png) no-repeat -220px -530px;
}
#conteudo-wrap .conteudo .menu-estilos li.item5:hover a:before {
  background: url(../img/sprite.png) no-repeat -290px -530px;
}
#conteudo-wrap .conteudo .menu-estilos li.item6:hover a:before {
  background: url(../img/sprite.png) no-repeat -370px -530px;
}
#conteudo-wrap .conteudo .menu-estilos li.item7:hover a:before {
  background: url(../img/sprite.png) no-repeat -450px -530px;
}
#conteudo-wrap .conteudo .estilo-overlay {
  display: none;
  position: fixed;
  width: 130px;
  right: 0px;
  top: 30px;
}
#conteudo-wrap .conteudo .estilo-overlay .menu-estilos {
  margin: 10px 0;
}
#conteudo-wrap .conteudo .estilo-overlay .menu-estilos li {
  padding: 15px 0;
  border-bottom: solid 1px #fadada;
  display: block;
}
#conteudo-wrap .conteudo .estilo-overlay .menu-estilos li:last-child {
  border-bottom: none;
}
#conteudo-wrap .conteudo .estilo-overlay .menu-estilos li a {
  font-size: 12px;
}
#conteudo-wrap .conteudo .estilo-overlay .menu-estilos li a:before {
  zoom: 40%;
}
#conteudo-wrap .conteudo .estilos li {
  width: 100%;
  clear: both;
  overflow: hidden;
  border-top: solid 1px #fadada;
  margin-top: 60px;
  padding-top: 60px;
}
#conteudo-wrap .conteudo .estilos li .img {
  box-sizing: border-box;
  float: left;
}
#conteudo-wrap .conteudo .estilos li .img img {
  border: solid 4px #878786;
  width: 100%;
  box-sizing: border-box;
}
#conteudo-wrap .conteudo .estilos li .texto {
  float: right;
  font-size: 15px;
  line-height: 24px;
}
#conteudo-wrap .conteudo .estilos li .texto h2 {
  font-family: 'Calibri', Helvetica, sans-serif;
  font-size: 24px;
  color: #88ccc9;
  margin-bottom: 30px;
}
#conteudo-wrap .conteudo .estilos li .texto .horarios {
  margin-top: 30px;
}
#conteudo-wrap .conteudo .estilos li .texto .horarios h4 {
  font-weight: bold;
}
#conteudo-wrap .conteudo .estilos li .texto .horarios strong {
  font-weight: normal;
  color: #b94190;
}
#conteudo-wrap .conteudo .estilos li:nth-child(even) .img {
  float: right;
}
#conteudo-wrap .conteudo .estilos li:nth-child(even) .texto {
  float: left;
  text-align: right;
}
#conteudo-wrap .conteudo .intro-escola {
  list-style: none;
}
#conteudo-wrap .conteudo .intro-escola li {
  width: 100%;
  clear: both;
  overflow: hidden;
  margin-top: 40px;
}
#conteudo-wrap .conteudo .intro-escola li:first-child {
  margin: 0;
}
#conteudo-wrap .conteudo .intro-escola li .img {
  box-sizing: border-box;
  float: left;
}
#conteudo-wrap .conteudo .intro-escola li .img img {
  border: solid 4px #878786;
  width: 100%;
  box-sizing: border-box;
}
#conteudo-wrap .conteudo .intro-escola li .texto {
  float: right;
  line-height: 24px;
  margin-top: 60px;
}
#conteudo-wrap .conteudo .intro-escola li:nth-child(odd) .img {
  float: right;
}
#conteudo-wrap .conteudo .intro-escola li:nth-child(odd) .texto {
  float: left;
}
#conteudo-wrap .conteudo .julianadiuana {
  background: url(../img/bg-fita.png) repeat-y 50% 0;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 29px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline {
  list-style: none;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li {
  margin-top: 40px;
  text-align: right;
  margin-right: 6.382%;
  float: left;
  position: relative;
  margin-bottom: 125px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li .texto {
  margin-right: 120px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li .texto h3 {
  margin-bottom: 15px;
  color: #b94190;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li .img {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li .img img {
  margin: 0 auto;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:before {
  position: absolute;
  right: -101px;
  content: ' ';
  display: block;
  background: url(../img/bg-marcador.png) no-repeat 100% 50%;
  width: 200px;
  height: 20px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:first-child {
  clear: both;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:first-child .texto {
  margin-right: 20px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:first-child:before {
  width: 100px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:nth-child(2) {
  margin-top: 125px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:nth-child(even) {
  float: right;
  text-align: left;
  margin-left: 6.382%;
  margin-right: 0;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:nth-child(even) .texto {
  margin-right: 0px;
  margin-left: 120px;
}
#conteudo-wrap .conteudo .julianadiuana .timeline li:nth-child(even):before {
  right: 0;
  left: -100px;
  background-position: 0 50%;
}
#equipe-wrap {
  background: url(../img/linha-rosa.png) repeat-x 0 1px #88ccc9;
  padding: 60px 0;
  float: left;
}
#equipe-wrap .equipe h2 {
  text-align: center;
  font-family: Century, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 60px;
  color: #fff;
}
#equipe-wrap .equipe .perfil {
  list-style: none;
  margin-top: 30px;
}
#equipe-wrap .equipe .perfil li {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  border: solid 15px #fff;
  border-radius: 50%;
  margin: 20px 0;
  box-sizing: border-box;
  text-align: center;
  background-size: 130%;
  overflow: hidden;
}
#equipe-wrap .equipe .perfil li.item-col1-1 {
  background: url(../img/foto_pedro.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col1-2 {
  background: url(../img/foto_daniel.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col1-3 {
  background: url(../img/foto_vazio.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col2-1 {
  background: url(../img/foto_juliana.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col2-2 {
  background: url(../img/foto_vazia.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col2-3 {
  background: url(../img/foto_geyze.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col3-1 {
  background: url(../img/foto_mariana.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col3-2 {
  background: url(../img/foto_vazio.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li.item-col3-3 {
  background: url(../img/foto_bruna.png) no-repeat 50% 50%;
}
#equipe-wrap .equipe .perfil li .over {
  width: 300px;
  height: 300px;
  margin-top: 300px;
  margin-left: -15px;
  position: absolute;
  background: #b94190;
  color: #fff;
}
#equipe-wrap .equipe .perfil li .over h3 {
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 30px;
  font-family: Century, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
}
#equipe-wrap .equipe .perfil li:hover {
  border: solid 0px #b94190;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#equipe-wrap .equipe .perfil li:hover .over {
  margin-top: -15px;
  border: solid 15px #b94190;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#equipe-wrap .equipe .perfil-col1,
#equipe-wrap .equipe .perfil-col3 {
  margin-top: 200px;
}
#rodape-wrap {
  background: #b94190;
  border-top: solid 1px #e596df;
  border-bottom: solid 1px #8f2d76;
}
#rodape-wrap .rodape {
  clear: both;
  padding: 60px 0;
  color: #fff;
}
#rodape-wrap .rodape .parte1 h4 {
  font-family: 'Calibri', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
#rodape-wrap .rodape .parte1 h4 span {
  display: block;
}
#rodape-wrap .rodape .parte1 ul.social {
  list-style: none;
}
#rodape-wrap .rodape .parte1 ul.social li {
  float: left;
  margin-right: 20px;
}
#rodape-wrap .rodape .parte1 ul.social li a {
  width: 65px;
  height: 65px;
  display: block;
  text-indent: -9999px;
}
#rodape-wrap .rodape .parte1 ul.social li a:hover {
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#rodape-wrap .rodape .parte1 ul.social li.item1 a {
  background: url(../img/sprite.png) no-repeat 0 -190px;
}
#rodape-wrap .rodape .parte1 ul.social li.item2 a {
  background: url(../img/sprite.png) no-repeat -70px -190px;
}
#rodape-wrap .rodape .parte2 .texto {
  text-align: right;
  line-height: 20px;
}
#rodape-wrap .rodape .parte2 .texto h4 {
  border-bottom: solid 1px #e596df;
  color: #e596df;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 210px;
  font-family: Century, Helvetica, sans-serif;
  font-size: 14px;
}
#rodape-wrap .rodape .parte2 .img-mapa {
  margin-left: 20px;
  overflow: hidden;
}
#rodape-wrap .rodape .parte2 .img-mapa a {
  display: block;
  width: 300px;
  height: 142px;
  background: url(../img/sprite.png) no-repeat 0 -265px;
  text-indent: -9999px;
}
#creditos-wrap {
  background: #8f2d76;
  border-top: solid 1px #b94190;
}
#creditos-wrap a.kingo {
  color: #e596df;
  text-decoration: none;
  background: url(../img/sprite.png) no-repeat -300px -60px;
  width: 60px;
  height: 24px;
  float: right;
}
#creditos-wrap a.kingo:before {
  content: 'Criação: ';
  float: left;
  margin-left: -50px;
  line-height: 30px !important;
}
#creditos-wrap .creditos {
  clear: both;
  padding: 25px 0;
  color: #e596df;
  font-size: 12px;
  line-height: 30px;
}
/*  secundarias  */
.formulario {
  float: left;
}
.formulario li {
  overflow: hidden;
  margin-bottom: 20px;
}
.formulario li:last-child {
  margin-bottom: 0;
}
.formulario label {
  display: none;
}
.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=tel],
.formulario textarea {
  padding: 0 20px;
  line-height: 50px;
  outline: none;
  border: solid 1px #878786;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  font-family: 'Calibri', Helvetica, sans-serif;
  color: #878786;
  background: transparent;
}
.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=tel] {
  height: 50px;
}
.formulario input[type=text]:focus,
.formulario input[type=email]:focus,
.formulario input[type=tel]:focus,
.formulario textarea:focus {
  background: rgba(0, 0, 0, 0.1);
}
.formulario textarea {
  max-width: 100%;
  min-width: 100%;
  height: 260px;
  min-height: 260px;
  max-height: 260px;
  line-height: 24px;
  padding: 15px 20px;
}
.formulario .botao {
  float: right;
  cursor: pointer;
  background: #88ccc9;
  padding: 16px 45px;
  font-family: 'Calibri', Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
.formulario .botao:hover {
  background: #b94190;
}
/* desktop */
@media screen and (min-width: 940px) {
  .topo,
  .conteudo,
  .equipe,
  .rodape,
  .creditos,
  #titulo-pagina {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: hidden;
  }
  .col1 {
    width: 6.382%;
  }
  .col2 {
    width: 14.893%;
  }
  .col3 {
    width: 23.404%;
  }
  .col4 {
    width: 31.914%;
  }
  .col5 {
    width: 40.425%;
  }
  .col6 {
    width: 48.936%;
  }
  .col7 {
    width: 57.446%;
  }
  .col8 {
    width: 65.957%;
  }
  .col9 {
    width: 74.468%;
  }
  .col10 {
    width: 82.978%;
  }
  .col11 {
    width: 91.489%;
  }
  .col12 {
    width: 100%;
  }
  .off_left-col1 {
    padding-left: 6.382%;
  }
  .off_right-col1 {
    padding-right: 6.382%;
  }
  .esp_desk {
    margin-left: 2.129% !important;
  }
  .esp_dir_desk {
    margin-right: 2.129% !important;
  }
  .esp_off_left-col1 {
    margin-left: 6.382%;
  }
  .esp_off_right-col1 {
    margin-right: 6.382%;
  }
  .icone-menu {
    display: none;
  }
  .exibe_md,
  .exibe_sm {
    display: none;
  }
}
/* tablet */
@media screen and (max-width: 940px) {
  .topo,
  .banner,
  .conteudo,
  .rodape,
  .creditos,
  #titulo-pagina,
  .clientes,
  .banner {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .banner {
    max-height: 780px;
  }
  .banner .item1 video {
    width: 254% !important;
    right: 710px;
    top: 0px;
    overflow: hidden;
    position: relative;
  }
  #topo-wrap,
  #conteudo-wrap {
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
  }
  #rodape-wrap {
    box-sizing: border-box;
  }
  .nav-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 5;
    top: 0px;
    overflow: hidden;
    display: none;
  }
  /* proporcao 700px */
  .col1_md {
    width: 8.6% !important;
  }
  .col2_md {
    width: 20% !important;
  }
  .col3_md {
    width: 31.4% !important;
  }
  .col4_md {
    width: 42.9% !important;
  }
  .col5_md {
    width: 54.3% !important;
  }
  .col6_md {
    width: 65.7% !important;
  }
  .col7_md {
    width: 77.1% !important;
  }
  .col8_md {
    width: 88.6% !important;
  }
  .col9_md {
    width: 100% !important;
  }
  .esp {
    margin-left: 2.8% !important;
  }
  .esp_dir_md {
    margin-right: 2.8% !important;
  }
  .no_esp_md {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .md_off_left-col1 {
    padding-left: 8.6%;
  }
  .md_off_right-col1 {
    padding-right: 8.6%;
  }
  .exibe_md {
    display: block;
  }
  .exibe_sm {
    display: none;
  }
  #topo-wrap .topo {
    padding-left: 20px;
    padding-right: 20px;
  }
  #conteudo-wrap .conteudo {
    padding-left: 20px;
    padding-right: 20px;
  }
  #conteudo-wrap .conteudo .img img {
    width: 100%;
  }
  #conteudo-wrap .conteudo .menu-estilos li {
    margin: 0 2%;
  }
  #conteudo-wrap .conteudo .menu-estilos li a {
    zoom: 90%;
  }
  #conteudo-wrap .conteudo .estilo-overlay {
    background: rgba(253, 237, 237, 0.8);
    border-top: solid 1px #88ccc9;
    right: auto;
    bottom: 0px;
    top: auto;
    left: 0px;
    height: 80px;
    width: 100%;
  }
  #conteudo-wrap .conteudo .estilo-overlay .menu-estilos {
    right: auto;
    height: 80px;
    width: 100%;
  }
  #conteudo-wrap .conteudo .estilo-overlay .menu-estilos li {
    display: inline-block !important;
    margin: 0 2%;
    border-bottom: none;
    padding: 5px 0;
  }
  #conteudo-wrap .conteudo .intro-escola li .texto {
    margin-top: 20px;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li {
    box-sizing: border-box;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li:before {
    right: -61px;
    width: 110px;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li .texto {
    margin-right: 70px;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li .img {
    box-sizing: border-box;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li:first-child:before {
    width: 60px;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li:nth-child(even):before {
    left: -60px;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li:nth-child(even) .texto {
    margin-left: 70px;
  }
  #equipe-wrap .equipe .perfil.perfil-col1,
  #equipe-wrap .equipe .perfil.perfil-col3 {
    margin-top: 150px;
  }
  #equipe-wrap .equipe .perfil li {
    width: 220px;
    height: 220px;
    margin: 10px 0;
  }
  #equipe-wrap .equipe .perfil li .over {
    width: 220px;
    height: 220px;
  }
  #equipe-wrap .equipe .perfil li .over h3 {
    margin-top: 80px;
  }
  /* fim home*/
  #rodape-wrap .rodape {
    padding-left: 20px;
    padding-right: 20px;
  }
  #creditos-wrap .creditos {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 16px;
  }
  .formulario label {
    text-align: left !important;
    margin-right: 0px !important;
    line-height: 20px !important;
    clear: both;
    width: 100% !important;
  }
  .formulario input[type=email],
  .formulario input[type=tel],
  .formulario input[type=text],
  .formulario textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .formulario ul {
    list-style: none;
  }
  .formulario ul li:last-child {
    text-align: center;
  }
}
/* smart horiz */
@media screen and (max-width: 680px) {
  body {
    min-width: 320px;
  }
  body.secundarias h1 {
    font-size: 36px !important;
    line-height: 36px !important;
  }
  /* proporcao 460px */
  .col1_sm {
    width: 21.7% !important;
  }
  .col2_sm {
    width: 47.8% !important;
  }
  .col3_sm {
    width: 73.9% !important;
  }
  .col4_sm {
    width: 100% !important;
  }
  .esp_sm {
    margin-left: 4.3% !important;
  }
  .esp_dir_sm {
    margin-right: 4.3% !important;
  }
  .no_esp_sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .no_off_sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .esp_vert_sm {
    margin-top: 20px !important;
  }
  .exibe_sm {
    display: block;
  }
  #topo-wrap,
  #conteudo-wrap {
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
  }
  .icone-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 41px;
    border: solid 2px #fff;
    border-radius: 5px;
    z-index: 999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .icone-menu.active {
    background: #8f2d76;
  }
  .icone-menu b {
    width: 28px;
    height: 4px;
    background: #fff;
    display: block;
    margin-top: 4px;
    border-radius: 10px;
    margin-left: 8px;
  }
  .icone-menu b:first-child {
    margin-top: 10px;
  }
  .icone-menu b:nth-child(2) {
    width: 21px;
  }
  .icone-menu b:nth-child(3) {
    width: 14px;
  }
  #topo-wrap .topo {
    margin-bottom: 5px;
    min-height: 84px;
  }
  #topo-wrap .topo .logo {
    margin-top: 20px;
    width: 53px;
    height: 44px;
    background: url(../img/sprite.png) no-repeat -470px 0;
  }
  #topo-wrap .topo .menu {
    height: 0px;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  #topo-wrap .topo .menu.active {
    height: auto;
    margin-bottom: 20px;
  }
  #topo-wrap .topo .menu li {
    float: none;
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 2px;
    border-radius: 5px;
  }
  #topo-wrap .topo .menu li:first-child {
    margin-top: 30px;
  }
  #topo-wrap .topo .menu li a {
    padding: 10px;
    line-height: 40px;
    border-radius: 5px;
  }
  #topo-wrap .topo .menu li a:last-child {
    border: none;
  }
  #banner-wrap .banner {
    min-height: 300px;
  }
  #banner-wrap .banner .item1 {
    min-height: 300px;
  }
  #banner-wrap .banner .item1 video {
    right: 390px;
    min-height: 300px;
  }
  #conteudo-wrap .conteudo img {
    max-width: 100%;
  }
  #conteudo-wrap .conteudo .estilos li:first-child {
    border: none;
    padding-top: 0;
    margin-top: 0;
  }
  #conteudo-wrap .conteudo .estilos li .texto {
    text-align: left !important;
  }
  #conteudo-wrap .conteudo .estilo-overlay,
  #conteudo-wrap .conteudo .menu-estilos {
    display: none !important;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li {
    margin-bottom: 0;
    margin-top: 100px !important;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li:before {
    position: relative;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    height: 2px;
    width: 140px;
  }
  #conteudo-wrap .conteudo .julianadiuana .timeline li .texto {
    margin: 0px !important;
    text-align: center;
    background: #fdeded;
    padding: 10px 0;
  }
  #equipe-wrap .equipe {
    padding-left: 20px;
    padding-right: 20px;
  }
  #equipe-wrap .equipe .perfil {
    margin-top: 0 !important;
  }
  #equipe-wrap .equipe .perfil li {
    float: none;
    width: 280px;
    height: 280px;
    margin: 20px auto;
    display: block;
  }
  #equipe-wrap .equipe .perfil li .over {
    width: 280px;
    height: 280px;
  }
  #equipe-wrap .equipe .perfil li .over h3 {
    margin-top: 100px;
  }
  #equipe-wrap .equipe .perfil li:last-child {
    margin-bottom: 0;
  }
  #rodape-wrap {
    box-sizing: border-box;
  }
  #rodape-wrap .rodape .parte1 {
    text-align: center;
  }
  #rodape-wrap .rodape .parte1 ul.social {
    margin: 0 auto;
  }
  #rodape-wrap .rodape .parte1 ul.social li {
    float: none;
    display: inline-block;
  }
  #rodape-wrap .rodape .parte2 .img-mapa {
    text-align: center;
    margin-left: 0;
  }
  #rodape-wrap .rodape .parte2 .img-mapa a {
    margin-left: auto;
    margin-right: auto;
  }
  #rodape-wrap .rodape .parte2 .texto {
    text-align: center;
  }
  #rodape-wrap .rodape .parte2 .texto h4 {
    margin-left: auto;
    margin-right: auto;
  }
  #creditos-wrap .creditos {
    text-align: center;
  }
  #creditos-wrap .creditos a.kingo {
    float: none;
    display: inline-block;
    margin-left: 50px;
  }
}
